
/*----------------------------------------------------------------------------------------------------------------*/
/* COMMON SPACING */
/*----------------------------------------------------------------------------------------------------------------*/

//PADDING TOP CLASS LOOP
$padding: (pad-top,padding-top,120),(pad-top-half,padding-top,60),(pad-top-hhalf,padding-top,30), (pad-top-min,padding-top,15);

@each $padClass, $padType, $padValue in $padding{
    .#{$padClass} {
        #{$padType}: #{$padValue}px;
    }
}

//PADDING BOTTOM CLASS LOOP
$padding: (pad-bot,padding-bottom,120),(pad-bot-half,padding-bottom,60),(pad-bot-hhalf,padding-bottom,30), (pad-bot-min,padding-bottom,15);

@each $padClass, $padType, $padValue in $padding{
    .#{$padClass} {
        #{$padType}: #{$padValue}px;
    }
}

//MARGIN TOP CLASS LOOP
$margin: (mar-top,margin-top,120),(mar-top-half,margin-top,60),(mar-top-hhalf,margin-top,30), (mar-top-min,margin-top,15);

@each $marginClass, $marginType, $marginValue in $margin{
    .#{$marginClass} {
        #{$marginType}: #{$marginValue}px;
    }
}

//MARGIN BOTTOM CLASS LOOP
$margin: (mar-bot,margin-bottom,120),(mar-bot-half,margin-bottom,60),(mar-bot-hhalf,margin-bottom,30), (mar-bot-min,margin-bottom,15);

@each $marginClass, $marginType, $marginValue in $margin{
    .#{$marginClass} {
        #{$marginType}: #{$marginValue}px;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/* COLORS & BACKGROUNDS COLOR */
/*----------------------------------------------------------------------------------------------------------------*/
// Color Class Loop

$colors: (gray-b, $bold-gray), (gray-l, $light-gray), (black, $black), (red, $red),  (blue, $blue), (white, $white), (white-2, $prehead-bg);
@each $colorclass, $colorvalue in $colors {
    .#{$colorclass} {
        color: #{$colorvalue};
    }

    .#{$colorclass}-bg {
        background-color: #{$colorvalue};
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT WEIGHTS */
/*----------------------------------------------------------------------------------------------------------------*/
// Font Weight Class Loop
$fontweights: 100,200,300,400,500,600,700,800,900;
@each $fontweight in $fontweights {
    .font-weight-#{$fontweight} {
        font-weight: #{$fontweight};
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT SIZES */
/*----------------------------------------------------------------------------------------------------------------*/
// Font Size Class Loop
$fontsizes: (1,12),(2,14),(3,15),(4,17),(5,19),(6,22),(7,26),(8,35),(9,39),(10,42),(11,47),(12,94);
@each $fontsizeclass, $fontsize in $fontsizes {
    .font-size-#{$fontsizeclass} {
        font-size: #{$fontsize+px};
        line-height: #{$fontsize+7px};
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT CLASSESS */
/*----------------------------------------------------------------------------------------------------------------*/
// Font Class Loop
$fontclassnames: ($opensans,o),($roboto,r),($hind,h),($montserrat,m);
@each $fontname, $fontclass in $fontclassnames {
    .font-#{$fontclass} {
        font-family: '#{$fontname}', sans-serif;
    }
}
