
// VARIABLE DECLARATIONS

// colors
$bold-gray: #9B9B9B;
$light-gray: #7F7B81;
$prehead-color-1: #7A7A7A;
$prehead-bg: #F4F4F4;
$black: #4A4A4A;  //menu
$red: #FF5959;
$blue: #4A90E2;
$white: #FFFFFF;
$p : #555555;


// Fonts
$opensans: 'Open Sans';
$roboto: 'Roboto Condensed';
$hind: 'Hind';
$montserrat: 'Montserrat';
