@import 'variables';
/*----------------------------------------------------------------------------------------------------------------*/

/* 01 - LAYOUT INITIALIZATION */

/*----------------------------------------------------------------------------------------------------------------*/

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

p{
	font-size: 16px;
  color: $p;
	line-height:23px;
  margin-bottom: 0;
  letter-spacing: 0.62px;
  font-family: $opensans;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: normal;
}
a {
    color: $prehead-color-1;
    text-decoration: none;
    &:hover {
      outline: none;
      color: $red;
      text-decoration: none;
    }
  }


/*---------------------------------------------------------------------------------------------------------------*/

/* 02 - COMMON ELEMENTS */

/*---------------------------------------------------------------------------------------------------------------*/
@import 'loops';
@import 'mixin';

.display-inline {
  display: inline-block;
}
.ease{
  @include transition(all,0.3s,ease-in-out,0s);
}
.lowercase {
  text-transform: lowercase;
  }
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.margin-top-8 {
  margin-top: 8px;
}
.content-right {
  text-align: right;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.wpcf7-display-none {
    display: none !important;
}
/*---------------------------------------------------------------------------------------------------------------*/

/* 03 - Specific class used for shortcode admin side */

/*---------------------------------------------------------------------------------------------------------------*/

.service-wrap{
  background-image: linear-gradient(82deg, #E43848 29%, #211266 77%, #A51A2F 100%);
}


/*---------------------------------------------------------------------------------------------------------------*/

/* 04 - HEADER ELEMENTS */

/*---------------------------------------------------------------------------------------------------------------*/

 .social-block{
       position: relative;
       &-icon {
         margin: 0;
         padding: 0;
         width: 100%;
         ul {
             padding: 0;
             margin: 2px 0 0 0;
           }
         ul li {
              text-align: center;
              padding: 3px;
              list-style: none;
              display: inline;
               a i{
                 padding: 0 3px;
               }
             }
        }
        &-lang {
          margin: 0;
          padding: 0;
          width: 100%;
          ul {
              padding: 0;
              margin: 2px 0 0 0;
            }
          ul li {
               text-align: center;
               padding: 3px;
               list-style: none;
               display: inline;
                &.lang a:hover {
                  color: $red;
                }
                &.lang::before {
                  content: "|";
                  display: inline-block;
                  left: -5px;
                  position: relative;
                  top: -1px;
                }
              }
         }
      .pre-header-padding-bottom {
        padding-bottom: 1px;
      }
   }

 .nav {
    margin: 0;
    padding: 0;
    width: 100%;
    @include shadow(0,5,5,0,0,0,0,0.2);
    position: relative;
    z-index: 999;
    .logo {
      width: auto;
      height: 73px;
    }
    ul {
        padding: 0;
        margin: 2px 0 0 0;
        position: relative;
      }
    ul li {
        padding: 10px;
        margin: 0;
        list-style: none;
        display: inline-block;

       }
        a {
            color: $black;
            font-weight: 600;
            font-family: "Hind", sans-serif;
            text-decoration: none;
            @include transition(all,0.3s,ease-in-out,0s);
            &:hover {
              outline: none;
              color: $red;
              text-decoration: none;
            }
            &:active{
              outline: none;
              color: $red;
              text-decoration: none;
            }
          }
          .compare-block {
            border: 1px solid $bold-gray;
            border-radius: 25px;
            padding-left: 16px;
            padding-top: 4px;
            padding-bottom: 3px;
            margin-top: 22px;
          }
          .truck-compare-icon {
            background-color: #F00000;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 57px;
            left: 3px;
            top: -18px;

            .compare-icon-img {
              position: absolute;
              top: 4px;
              left: 8px;
            }
            }
      }

/*---------------------------------------------------------------------------------------------------------------*/

/* 05 - FOOTER ELEMENTS */

/*---------------------------------------------------------------------------------------------------------------*/

 .pre-footer {
   background-image: linear-gradient(90deg, #F00000 8%, #DC281E 97%);
   .pre-footer-text {
      padding-top: 9px;
      display: inline-flex;
      position: relative;
      padding-bottom: 5px;
     .pre-footer-text-mar {
       margin-left: 50px;
     }
     .pre-footer-image1 {
       position: absolute;
       top: 2px;
     }
     .pre-footer-image2 {
       position: absolute;
       top: 8px;
       margin-left: 19px;
     }
   }
   &-content {
     text-align: right;
     padding-top: 3px;
   }
   a:hover {
     color: $white;
     opacity: 0.8;
   }

 }

 .footer {
   background-image: url(../images/footer-trucks-bg.png);
   background-repeat: no-repeat;
   background-position: bottom center;

         &-inline {
        display: inline-flex;
        p{
         font-size: 12px;
         font-family: $hind;
         font-weight: 400;
          color: $bold-gray;
         line-height:19px;
          margin-bottom: 0;
        }
        ul {
            padding: 0;
            //list-style-image: url('../img/footer-list-icon.png');
        }
        ul li {
            padding-top: 3px;
            margin-left: 22px;
            position: relative;
            list-style-type: none;
            color: $prehead-color-1;
            &:before {
              content: '';
               position: absolute;
               background-color: #7A7A7A;
               width: 3px;
               height: 3px;
               border-radius: 50%;
               top: 16px;
               left: -22px;
            }
            a {
              @include transition(all,0.3s,ease-in-out,0s);
              font-family: $hind;
              font-weight: 400;
              font-size: 12px;
              padding: 0 3px;
            }
        }
          .footer-widget-1 img {
            width: 73px;
            margin-bottom: 15px;
          }

      }
        &-quick-link {
          margin: 0;
          padding: 0;
          ul {
              padding: 0;
              position: relative;
              list-style: none;
            }
          ul li {
              margin: 0;
              padding: 0;
              list-style: none;
              color: $prehead-color-1;
              &:before {
                display: none;
              }
              a {
                font-size: 12px;
                @include transition(all,0.3s,ease-in-out,0s);
              }
        }
      }
      .footer-mail-subscription {
        border: none;
        width: 100%;
        height: 100%;
        padding: 6px;
        @include shadow(0,0,4,2,0,0,0,0.15);
        padding-left: 14px;
      }
      .footer-mail-submit {
        border: 1px solid #FF001F;
        width: 100%;
        height: 100%;
        background-color: #FF001F;
        background-image: url(../images/mail-chimp.png);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 8px;
        background-size: 30px;
        cursor:pointer
      }
      .footer-title-padding {
        padding-bottom: 12px;
        display: inline-block;
      }
 }




 .copyright {
   background-color: $footer-bg;
   &-icon {
     margin: 0;
     padding: 0;
     width: 100%;
     ul {
         padding: 0;
         margin: 2px 0 0 0;
     }
     ul li {
       text-align: center;
         padding: 3px;
         list-style: none;
         display: inline;
         a i{
           padding: 0 3px;
         }
     }
   }
   &-text {
     display: inline-block;
     padding-top: 5px;
     font-size: 13px;
     line-height: 20px;
   }
 }



 /*---------------------------------------------------------------------------------------------------------------*/

 /* 06 - Shortcode Elements */

 /*---------------------------------------------------------------------------------------------------------------*/

 .banner{
     height: calc(100vh - 125px);
     width: 100%;
     position: relative;
       .banner-title-bg {
         height: calc(100vh - 125px);
         width: 400px;
         background: rgba(166, 14, 35,.8);
         position: absolute;
         z-index: 99;
         right: 160px;
         top: 0;
         transform: skew(-20deg);
       }
       .banner-text-wrap {
         position: absolute;
         z-index: 100;
         right: 158px;
         top: 200px;
           .banner-title-1 {
              line-height: 55px;
              letter-spacing: 5px;
            }
           .banner-title-2 {
              padding-left: 8px;
                   span{
                     font-weight: 700;
                   }
            }
           .banner-title-3 {
             letter-spacing: 10px;
             transform: translateX(-28px);
             margin-top: -4px;
           }
        }
  }


//Banner tab
#banner-tab-block {
  position: relative;
      /*----- Tabs -----*/
      .banner-tabs {
          width:100%;
          display:inline-block;
          position: absolute;
          z-index: 110;
          bottom: 0;
      }
      /*----- Tab Links -----*/
      /* Clearfix */
      .banner-tab-links {
        margin-bottom: 0px;
          &:after {
          display:block;
          clear:both;
          content:'';
          }
    }
      .banner-tab-links li {
      margin-left: 5px;
      float:left;
      list-style:none;
      }
      .banner-tab-links a {
      padding:9px 15px;
      display:inline-block;
      border-radius:3px 3px 0px 0px;
      font-size:13px;
      background: #4A4A4A;
      overflow: hidden;
      font-weight:300;
      font-family: $roboto;
      color:#FFF;
      letter-spacing: 0.37px;
      transition:all linear 0.15s;
      vertical-align: bottom;
      }
      .banner-tab-links a:hover {
      background: rgba(0,0,0,0.7);
      text-decoration:none;

      }
      li.active a, li.active a:hover {
        background: rgba(0,0,0,0.7);
        color:red;
        font-weight:700;
      }
      /*----- Content of Tabs -----*/
      .tab-content {
      padding:5px;
      background: rgba(0,0,0,0.8);
      }
      .tab {
          display:none;
          }
          .tab.active {
          display:block;
          }
      .banner-tab1-content {
        padding-top: 8px;
      }
      .banner-tab1-input {
        max-width: 14%;
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #FFF;
        margin: 0px 10px 0px 10px;
        font-size: 25px;
      }
        .banner-tab1-button {
          border: 1px solid #FFFFFF;
          border-radius: 100px;
          padding: 6px 20px 6px 20px;
        //  transform: translateY(-10px);
        }
        .banner-tab2-input {
          max-width: 14%;
          background: none;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid #FFF;
          margin: 0px 10px 0px 10px;
          font-size: 25px;
        }
}

 .slideshow {
   position: absolute;
   width: 100%;
   height: calc(100vh - 125px);
   z-index: 0;
 }

 .slideshow-image {
   width: 100vw;
   height: calc(100vh - 125px);
   background: no-repeat 50% 50%;
   background-size: cover;
 }

 .truck-search-list{
    margin:0;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
     li{
       padding: 20px 10px;
       border: 1px solid #FF5959;
       border-radius: 10px;
       text-align: center;
       display: inline-block;
       background: transpant;
       margin-left: 20px;
       margin-right: 20px;
       a .truck-category{
           color: #FF5959;
           display: inline-block;
           width: 100%;
           height: 100%;
       }
      &:hover{
        border-color: #FFF;
        background: #fff;

        a .truck-category{
            color: #FF5959;
          }
      }
     }

    .truck-search-image {
      height: 70px;
    }
   }


//trucking-india News scroll
.trucking-news {
  height: 100px;
  position: relative;
  background-color: #4A4A4A;
  .trucking-news-wrap {
    .trucking-news-button {
      position: absolute;
      z-index: 15;
      border: 1px solid #FF001F;
      background-color: #FF001F;
      border-radius: 0 12px 0 12px;
      left: 15px;
      padding: 15px;
      top: 21px;
      span {
        font-weight: 300;
      }
    }
  }
}


//news block shortcode

.news-blocks{
  position: relative;
  width: 100%;
  height: 100px;
  &::before{
    content: ".";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 70px;
    font-size: 0;
    line-height: 0;
    left: 0;
    background: linear-gradient(90deg,#4a4a4a,transparent);
  }
  &::after{
    right: 0;
    background: linear-gradient(270deg,#4a4a4a,transparent);
    content: ".";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 70px;
    font-size: 0;
    line-height: 0;
  }

  .news-view{
    display: block;
    float: left;
    width: auto;
    text-align: center;
    padding: 40px 0px;
    color: #FFF;
  }

}
.news-view {
  // margin-top: 10px;
}
.news-view-details {
  display: inline-block;
  img {
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
  }
}
.scrollableArea {
  height: 100px;
}

// Callback shortcode
.callback-wrap {
  display: inline-block;
  width: 100%;
  .callback-title {
    font-size: 54px;
    letter-spacing: 0.51px;
    line-height: 58px;
    span {
      display: inline-block;
      color: $red;
      font-size: 72px;
      font-weight: 700;
    }
  }
  //contact form 7
  .callback-form-wrap {
    margin-top: 7px;
    .callback-form-input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $black;
      font-size: 20px;
      line-height: 27px;
      font-family: $roboto;
      font-weight: 300;
      width: 100%;
      padding-bottom: 14px;
    }
    .callback-form-submit {
      background: $red;
      border-radius: 100px;
      font-size: 24px;
      color: $white;
      letter-spacing: 0.69px;
      font-family: $roboto;
      font-weight: 300;
      border: none;
      width: 100%;
      text-align: center;
      display: inline-block;
      margin-top: 15px;
      padding: 10px 0;
      cursor: pointer;
      &:hover {
        color: #000;
        @include transition(all,0.3s,ease-in-out,0s);
      }
    }
    .wpcf7-response-output {
       display: none !important;
     }
  }
}


// Item Listng Shortcode
.listing-item-wrap {
  .listing-item-title {
    font-size: 32px;
    padding-bottom: 50px;
    .title-line{
      width: 80px;
      height: 1px;
      margin-bottom: 5px;
    }
    &-text {
      display: inline-block;
      width: 100%;
    }
  }
  .listing-item-content {
    ul {
        padding: 0;
        margin: 2px 0 0 0;
      }
    ul li {
         padding-bottom: 5px;
         list-style: none;
         font-size: 16px;
    }
  }
}


//get a Quote
.insurance-quote-wrap {
  position: relative;
  padding: 55px 30px;
  .insurance-quote-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background-image: linear-gradient(-28deg, #FAFAFA 1%, #0D244B 93%);
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.05);
    z-index: 1;
  }
  .insurance-quote-form-wrap {
    position: relative;
    z-index: 2;
  }
  .insurance-quote-title {
    letter-spacing: 0.45px;
    text-align: center;
    span {
      font-weight: 300;
    }
  }
  .insurance-quote-form {
    .input-form-text {
      padding-bottom: 8px;
    }
    .input-name {
      width: 100%;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid white;
      color: white;
      margin-bottom: 20px;
      font-size: 12px;
    }
    .input-email {
      width: 100%;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid white;
      margin-bottom: 20px;
      font-family: $hind;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.45px;
    }
    .input-mobile {
      width: 100%;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid white;
      margin-bottom: 20px;
      font-family: $hind;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.45px;
    }
    .input-radio {
      font-size: 13px;
      letter-spacing: 0.41px;
      position: relative;
      left: -13px;
      color: #FFFFFF;
      font-family: $hind;
      font-weight: 400;
    }
    .input-submit {
      border: 1px solid #FFFFFF;
      border-radius: 100px;
      letter-spacing: 0.41px;
      background: transparent;
      padding: 9px 20px 6px 20px;
      font-family: $hind;
      font-size: 13px;
      font-weight: 700;
      color: #FFFFFF;
      cursor: pointer;
      &:hover {
        @include transition(all,0.3s,ease-in-out,0s);
        color: $red;
      }
    }
    .wpcf7-response-output {
       display: none !important;
     }
    .insurance-quote-insurance-page {
      .insurance-page-common-head {
        font-family: $hind;
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0.41px;
      }
      .padtop {
        display: inline-block;
        padding-top: 7px;
      }
      .insurance-page-name {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: 20px;
      }
      .insurance-page-name1 {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: 20px;
        &::placeholder {
          text-align: center;
        }
      }
      .insurance-page-email {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: 20px;
      }
      .insurance-page-mobile {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: 20px;
      }
      .insurance-page-checkbox {
        font-family: $hind;
        font-weight: 400;
        font-size: 12px;
        color: #9B9B9B;
        letter-spacing: 0.41px;
        margin-bottom: 25px;
        display: inline-block;
      }
      .insurance-page-submit {
        border: 1px solid #FF001F;
        border-radius: 100px;
        font-family: $hind;
        font-weight: 700;
        font-size: 13px;
        color: #FF001F;
        letter-spacing: 0.41px;
        padding: 10px 15px 6px 15px;
        cursor: pointer;
      }
      span.wpcf7-not-valid-tip {
          margin-top: -20px;
          font-size: 10px;
      }
    }
  }
}
/// title block shortcode
.title-block-wrap {
  .title-block-line1 {
    width: 35px;
    height: 1px;
    margin-bottom: 5px;
    background-color: red;
    margin-left: 5px;
  }
  .title-block-line2 {
    width: 35px;
    height: 1px;
    margin-bottom: 10px;
    background-color: black;
  }
  .title-block-content {
    span {
      font-weight: 700;
      color: $black;
    }
  }
}


// Blog Shortcode
.blog-block-wrap {
  padding-top: 50px;
  .blog-left-wrap {
    background: #FFFFFF;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.05);
    padding: 7px;
    position: relative;
    .blog-left-content-wrap {
      padding: 15px 20px;
      .blog-left-date {
        &::before{
          content: " ";
          position: absolute;
          height: 2px;
          width: 21px;
          background-color: red;
          left: 7px;
          top: 25px;
        }
      }
      .blog-left-title {
        padding-bottom: 5px;
      }
      .blog-left-content {
        color: #818181;
      }
      .blog-left-read-more {
        font-size: 13px;
        span {
          font-weight: 700;
        }
        a:hover {
          @include transition(all,0.3s,ease-in-out,0s);
          color: $black !important;
        }
      }
    }
    .blog-left-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .blog-right-wrap {
    background: #FFFFFF;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.05);
    padding: 7px;
    margin-bottom: 20px;
    position: relative;
    .blog-right-content-wrap {
      padding: 5px 15px;
      .blog-right-date {
        &::before{
          content: " ";
          position: absolute;
          height: 2px;
          width: 16px;
          background-color: red;
          left: 7px;
          top: 16px;
        }
      }
      .blog-right-title {

      }
      .blog-right-content {
        color: #818181;
      }
      .blog-right-read-more {
        font-size: 13px;
        span {
          font-weight: 700;
        }
        a:hover {
          @include transition(all,0.3s,ease-in-out,0s);
          color: $black !important;
        }
      }
    }
    .blog-right-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .blog-block-button {
    position: relative;
    margin: 40px 0px;
    text-align: center;
    .blog-block-button-text {
      border: 1px solid #C5C5C5;
      font-size: 14px;
      border-radius: 100px;
      padding: 5px 25px;
      img {
        margin-top: -3px;
        margin-left: 8px;
      }
    }
  }
}


//brand display section
.brand-disply-block {
  .brand-display {
    ul {
        padding: 0;
        position: relative;
    }
    ul li {
        padding: 10px;
        margin: 0;
        list-style: none;

        a {
          display: none;
        }
    }
    .brand-image-display {
      padding: 0px 20px;
      .owl-nav {
        .owl-prev {
          background: none;
          color: #9B9B9B;
          position: absolute;
          left: -45px;
          top: 25%;
        }
        .owl-next {
          background: none;
          color: #9B9B9B;
          position: absolute;
          right: -45px;
          top: 25%;
          }
        }
     }
  }

}

//brand name listing block
.brand-name-trigger-list {
  padding: 0;
  margin: 2px 0 0 0;
  text-align: right;
  padding-top: 10px;
  margin-right: 40px;
  li {
    letter-spacing: 0.45px;
     padding: 3px;
     list-style: none;
     display: inline;
     color: #9B9B9B;
      a {
        padding: 0 3px;
        &.active{
          color: $red;
        }

      }
  }
}

//Iconised Title Block Shortcode
.iconised-title-wrap {
  .iconised-title-image {
    background-repeat: no-repeat;
    background-position: center center;
    width: 155px;
    height: 160px;
    background-size: cover;
  }
  .iconised-title-text {
    font-family: $hind;
    font-weight: 700;
    font-size: 48px;
    color: #555555;
    letter-spacing: 0.45px;
    line-height: 44px;
    margin-top: -30px;
    span {
      font-weight: 300;
      color: #FF001F;
    }
  }
}
/*---------------------------------------------------------------------------------------------------------------*/

/* 07 - Single Page or Post disply page */

/*---------------------------------------------------------------------------------------------------------------*/
.truck-post-title-wrap {
  position: relative;
  z-index: -2;
  height: 245px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  .truck-post-title-bg {
    opacity: 0.56;
    background-color: #000000;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .truck-post-title-line1 {
    width: 35px;
    height: 1px;
    margin-bottom: 5px;
    background-color: red;
    margin-left: 5px;
  }
  .truck-post-title-line2 {
    width: 35px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .truck-post-title {
    letter-spacing: 0.07px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.59);
  }
  .truck-post-date-and-author {
    .truck-post-title-date {
      color: #EFEFEF;
      letter-spacing: 0.72px;
      padding-right: 5px;
    }
    .truck-post-title-author {
      color: #EFEFEF;
      letter-spacing: 0.72px;
      padding-left: 5px;
    }
  }
}
.truck-post-breadcrumb {
  opacity: 0.79;
  font-family: $hind;
  font-weight: 600;
  font-size: 10px;
  color: #9B9B9B;
  letter-spacing: 0.51px;
  a {
    @include transition(all,0.3s,ease-in-out,0s);
  }
}

.truck-post-content-wrap {
  .truck-post-content {
    .kc-container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .truck-post-tags {
    font-family: $hind;
    font-weight: 600;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0.07px;
    display: inline-block;
    a {
      border: 1px solid #979797;
      border-radius: 63px;
      padding: 2px 12px 1px 12px;
      margin-right: 5px;
      @include transition(all,0.3s,ease-in-out,0s);
    }
  }
  /*--- Sidebar Contact Form ---*/
  .truck-post-sidebar {
    .side-bar-cf7 {
      background-image: linear-gradient(133deg, #DA2B2B 0%, #3E1673 100%);
      box-shadow: 0 0 14px 0 rgba(0,0,0,0.11);
      border-radius: 3px;
      padding: 30px 15px;
      .side-bar-cf7-title {
        text-align: center;
        letter-spacing: 0.45px;
        span {
          font-weight: 300;
        }
      }
      .input-name {
        width: 100%;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid white;
        color: white;
        margin-bottom: 20px;
        font-size: 14px;
      }
      .input-email {
        width: 100%;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        font-family: $hind;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.45px;
      }
      .input-mobile {
        width: 100%;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        font-family: $hind;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.45px;
      }
      .input-radio {
        font-size: 13px;
        letter-spacing: 0.41px;
        color: #FFFFFF;
        font-family: $hind;
        font-weight: 400;
      }
      .input-submit {
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        letter-spacing: 0.38px;
        background: transparent;
        padding: 6px 12px 3px 12px;
        font-family: $hind;
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
          @include transition(all,0.3s,ease-in-out,0s);
          color: $red;
        }
      }
      span.wpcf7-not-valid-tip {
          font-size: 10px;
          margin-top: -20px;
          color: #3a99fc;
      }
    }
  }
}
