@import 'variables';
/*----------------------------------------------------------------------------------------------------------------*/

/* 01 - LAYOUT INITIALIZATION */

/*----------------------------------------------------------------------------------------------------------------*/

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

p{
	font-size: 16px;
  color: $p;
	line-height:23px;
  margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: normal;
}

/*---------------------------------------------------------------------------------------------------------------*/

/* 02 - COMMON ELEMENTS */

/*---------------------------------------------------------------------------------------------------------------*/

.full-height{
    height: 100vh;
}
.full-width{
    width: 100%;
}
@import 'loops';
