/*----------------------------------------------------------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION */
/*----------------------------------------------------------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

p {
  font-size: 16px;
  color: #555555;
  line-height: 23px;
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

a {
  color: #7A7A7A;
  text-decoration: none; }
  a:hover {
    outline: none;
    color: #FF5959;
    text-decoration: none; }

/*---------------------------------------------------------------------------------------------------------------*/
/* 02 - COMMON ELEMENTS */
/*---------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/* COMMON SPACING */
/*----------------------------------------------------------------------------------------------------------------*/
.pad-top {
  padding-top: 120px; }

.pad-top-half {
  padding-top: 60px; }

.pad-top-hhalf {
  padding-top: 30px; }

.pad-top-min {
  padding-top: 15px; }

.pad-bot {
  padding-bottom: 120px; }

.pad-bot-half {
  padding-bottom: 60px; }

.pad-bot-hhalf {
  padding-bottom: 30px; }

.pad-bot-min {
  padding-bottom: 15px; }

.mar-top {
  margin-top: 120px; }

.mar-top-half {
  margin-top: 60px; }

.mar-top-hhalf {
  margin-top: 30px; }

.mar-top-min {
  margin-top: 15px; }

.mar-bot {
  margin-bottom: 120px; }

.mar-bot-half {
  margin-bottom: 60px; }

.mar-bot-hhalf {
  margin-bottom: 30px; }

.mar-bot-min {
  margin-bottom: 15px; }

/*----------------------------------------------------------------------------------------------------------------*/
/* COLORS & BACKGROUNDS COLOR */
/*----------------------------------------------------------------------------------------------------------------*/
.gray-b {
  color: #9B9B9B; }

.gray-b-bg {
  background-color: #9B9B9B; }

.gray-l {
  color: #7F7B81; }

.gray-l-bg {
  background-color: #7F7B81; }

.black {
  color: #4A4A4A; }

.black-bg {
  background-color: #4A4A4A; }

.red {
  color: #FF5959; }

.red-bg {
  background-color: #FF5959; }

.blue {
  color: #4A90E2; }

.blue-bg {
  background-color: #4A90E2; }

.white {
  color: #FFFFFF; }

.white-bg {
  background-color: #FFFFFF; }

.white-2 {
  color: #F4F4F4; }

.white-2-bg {
  background-color: #F4F4F4; }

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT WEIGHTS */
/*----------------------------------------------------------------------------------------------------------------*/
.font-weight-100 {
  font-weight: 100; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-600 {
  font-weight: 600; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-800 {
  font-weight: 800; }

.font-weight-900 {
  font-weight: 900; }

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT SIZES */
/*----------------------------------------------------------------------------------------------------------------*/
.font-size-1 {
  font-size: 12px;
  line-height: 19px; }

.font-size-2 {
  font-size: 14px;
  line-height: 21px; }

.font-size-3 {
  font-size: 15px;
  line-height: 22px; }

.font-size-4 {
  font-size: 17px;
  line-height: 24px; }

.font-size-5 {
  font-size: 19px;
  line-height: 26px; }

.font-size-6 {
  font-size: 22px;
  line-height: 29px; }

.font-size-7 {
  font-size: 35px;
  line-height: 42px; }

.font-size-8 {
  font-size: 39px;
  line-height: 46px; }

.font-size-9 {
  font-size: 42px;
  line-height: 49px; }

.font-size-10 {
  font-size: 47px;
  line-height: 54px; }

/*----------------------------------------------------------------------------------------------------------------*/
/* FONT CLASSESS */
/*----------------------------------------------------------------------------------------------------------------*/
.font-o {
  font-family: "Open Sans", sans-serif; }

.font-r {
  font-family: "Roboto Condensed", sans-serif; }

.font-h {
  font-family: "Hind", sans-serif; }

.font-m {
  font-family: "Montserrat", sans-serif; }

.full-height {
  height: 100vh; }

.full-width {
  width: 100%; }

.disin {
  display: inline-block; }

/*---------------------------------------------------------------------------------------------------------------*/
/* 03 - FOR MENU */
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* 04 - PAGE ELEMENTS */
/*---------------------------------------------------------------------------------------------------------------*/
.social-block {
  position: relative; }
  .social-block-icon {
    margin: 0;
    padding: 0;
    width: 100%; }
    .social-block-icon ul {
      padding: 0;
      margin: 2px 0 0 0; }
    .social-block-icon ul li {
      text-align: center;
      padding: 3px;
      list-style: none;
      display: inline; }
      .social-block-icon ul li a i {
        padding: 0 3px; }

.nav {
  margin: 0;
  padding: 0;
  width: 100%; }
  .nav ul {
    padding: 0;
    margin: 2px 0 0 0;
    position: relative; }
  .nav ul li {
    padding: 10px;
    margin: 0;
    list-style: none;
    padding-left: 40px; }
    .nav ul li.menu-icon {
      display: inline-block; }
      .nav ul li.menu-icon.truck-icon::before {
        content: " ";
        background: url(../img/truck-icon.svg);
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 10px;
        bottom: 9px; }
      .nav ul li.menu-icon.insurance-icon::before {
        content: " ";
        background: url(../img/insurance-icon.svg);
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 115px;
        bottom: 12px; }
      .nav ul li.menu-icon.finance-icon::before {
        content: " ";
        background: url(../img/finance-icon.svg);
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 242px;
        bottom: 11px; }
  .nav a {
    color: #4A4A4A;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    text-decoration: none; }
    .nav a:hover {
      outline: none;
      color: #FF5959;
      text-decoration: none; }
    .nav a:active {
      outline: none;
      color: #FF5959;
      text-decoration: none; }
  .nav .compare-block {
    border: 1px solid #9B9B9B;
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 19px; }
  .nav .truck-compare-icon {
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 57px;
    left: 3px;
    top: -16px; }
    .nav .truck-compare-icon .compare-icon-img {
      position: absolute;
      top: 4px;
      left: 8px; }
